<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liulingfengyu.codegenerator.mapper.DatabaseConnectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.liulingfengyu.codegenerator.entity.DatabaseConnection">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="delete_time" property="deleteTime"/>
        <result column="delete_user" property="deleteUser"/>
        <result column="is_delete" property="isDelete"/>
        <result column="password" property="password"/>
        <result column="remark" property="remark"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="url" property="url"/>
        <result column="username" property="username"/>
        <result column="version" property="version"/>
    </resultMap>

    <select id="getByPage" resultType="cn.liulingfengyu.codegenerator.vo.DatabaseConnectionVo">
        select * from d_database_connection
        <where>is_delete = false
            <if test="dto.title != null and dto.title != ''">
                and title like concat('%', #{dto.title}, '%')
            </if>
        </where>
    </select>

    <select id="getList" resultType="cn.liulingfengyu.codegenerator.vo.DatabaseConnectionVo">
        select * from d_database_connection order by create_time desc
    </select>

    <select id="queryById" resultType="cn.liulingfengyu.codegenerator.vo.DatabaseConnectionVo">
        select *
        from d_database_connection
        <where>
            id = #{id}
        </where>
    </select>
</mapper>
